# Ignorar todo dentro de storage
/storage/*
/storage/app/public/Servicios/
/storage/app/public/Servicios/Anexo_30/


# Permitir solo la carpeta templates y su contenido
!/storage/app/templates/
!/storage/app/templates/**
